@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        max-width: 500px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2em;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

        a:hover {
            text-decoration: underline;
        }

    .details {
        text-align: left;
    }
</style>

<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
        <div class="details">
            <p>There are several possible reasons for this:</p>
            <ul>
                <li>You are not logged in.</li>
                <li>You do not have the required roles or permissions.</li>
                <li>The page is unavailable or does not exist.</li>
            </ul>
            <p>Here are some options:</p>
            <ul>
                <li>If you are not logged in, please <a href="/UserAuthentication/Logout">log in</a>.</li>
                <li>If you believe you should have access to this page, please contact the site administrator.</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

