@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Forgot Password?</h3>
            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

               @*  <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="Password" class="form-control" id="Password" name="Password" required>
                </div>

                <div class="mb-3">
                    <label for="PasswordConfirm" class="form-label">Confirm Password</label>
                    <input type="PasswordConfirm" class="form-control" id="PasswordConfirm" name="PasswordConfirm" required>
                </div> *@
                @if (TempData["msg"] != null)
                {
                    <label>@TempData["msg"]</label>
                }
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

